<ion-view title="Baked Teriyaki Chicken" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/0Wzx2IdwSx6GE8IrqiZu_BakedTeriyakiChicken.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="bakedTeriyakiChicken-heading1" style="color:#2E2E2E;font-weight:400;">Ingredients</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <div class="item item-body" id="bakedTeriyakiChicken-list-item-container9">
      <div id="bakedTeriyakiChicken-markdown23" class="show-list-numbers-and-dots">
        <ol>
          <li>
            <p style="margin-top:0px;color:#000000;">1 tablespoon cornstarch</p>
          </li>
          <li>
            <p style="color:#000000;">1 tablespoon cold water</p>
          </li>
          <li>
            <p style="color:#000000;">1/2 cup white sugar</p>
          </li>
          <li>
            <p style="color:#000000;">1/2 cup soy sauce 1/4 cup cider vinegar</p>
            <p style="color:#000000;">1 clove garlic, minced 1/2 teaspoon ground ginger 1/4 teaspoon ground black pepper 12 skinless chicken thighs </p>
          </li>
        </ol>
      </div>
    </div>
    <h3 id="bakedTeriyakiChicken-heading2" style="color:#2E2E2E;font-weight:400;">Directions</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <ion-list id="bakedTeriyakiChicken-list8">
      <ion-item class="item-icon-right" id="bakedTeriyakiChicken-list-item29"> Prep 30 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bakedTeriyakiChicken-list-item30">Cook 1 h
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bakedTeriyakiChicken-list-item31">Ready In 1 h 30 m
        <i class="icon ion-clock"></i>
      </ion-item>
    </ion-list>
    <br>
    <div id="bakedTeriyakiChicken-markdown12" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">In a small saucepan over low heat, combine the cornstarch, cold water, sugar, soy sauce, vinegar, garlic, ginger and ground black pepper. Let simmer, stirring frequently, until sauce thickens and bubbles.</p>
        </li>
        <li>
          <p style="color:#000000;">Preheat oven to 425 degrees F (220 degrees C).</p>
        </li>
        <li>
          <p style="color:#000000;">Place chicken pieces in a lightly greased 9x13 inch baking dish. Brush chicken with the sauce. Turn pieces over, and brush again.</p>
        </li>
        <li>
          <p style="color:#000000;">Bake in the preheated oven for 30 minutes. Turn pieces over, and bake for another 30 minutes, until no longer pink and juices run clear. Brush with sauce every 10 minutes during cooking.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>