<ion-view title="Beef Stew VI" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ScThmkF9TnSY6TqKF3la_BeefStewVI.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="beefStewVI-heading9" style="color:#2E2E2E;font-weight:400;">Ingredients</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <div class="item item-body" id="beefStewVI-list-item-container16">
      <div id="beefStewVI-markdown24" class="show-list-numbers-and-dots">
        <ol>
          <li>
            <p style="margin-top:0px;color:#000000;">2 pounds cubed beef stew meat</p>
          </li>
          <li>
            <p style="color:#000000;">3 tablespoons vegetable oil </p>
          </li>
          <li>
            <p style="color:#000000;">4 cubes beef bouillon, crumbled</p>
          </li>
          <li>
            <p style="color:#000000;">4 cups water</p>
          </li>
          <li>
            <p style="color:#000000;">1 teaspoon dried rosemary</p>
          </li>
          <li>
            <p style="color:#000000;">1 teaspoon dried parsley</p>
          </li>
          <li>
            <p style="color:#000000;">1/2 teaspoon ground black pepper</p>
          </li>
          <li>
            <p style="color:#000000;">3 large potatoes, peeled and cubed</p>
          </li>
          <li>
            <p style="color:#000000;">4 carrots, cut into 1 inch pieces</p>
          </li>
          <li>
            <p style="color:#000000;">4 stalks celery, cut into 1 inch pieces</p>
          </li>
          <li>
            <p style="color:#000000;">1 large onion, chopped</p>
          </li>
          <li>
            <p style="color:#000000;">2 teaspoons cornstarch</p>
          </li>
          <li>
            <p style="color:#000000;">2 teaspoons cold water</p>
          </li>
        </ol>
      </div>
    </div>
    <h3 id="beefStewVI-heading10" style="color:#2E2E2E;font-weight:400;">Directions</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <ion-list id="beefStewVI-list3">
      <ion-item class="item-icon-right" id="beefStewVI-list-item14"> Prep 20 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="beefStewVI-list-item15"> Cook 2 h
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="beefStewVI-list-item16">Ready In 2 h 20 m
        <i class="icon ion-clock"></i>
      </ion-item>
    </ion-list>
    <br>
    <div id="beefStewVI-markdown29" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">In a large pot or dutch oven, cook beef in oil over medium heat until brown. Dissolve bouillon in water and pour into pot. Stir in rosemary, parsley and pepper. Bring to a boil, then reduce heat, cover and simmer 1 hour.</p>
        </li>
        <li>
          <p style="color:#000000;">Stir potatoes, carrots, celery, and onion into the pot. Dissolve cornstarch in 2 teaspoons cold water and stir into stew. Cover and simmer 1 hour more.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>