<ion-view title="Herbed Pork and Apples" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/i5VIHPeTVGwT1iLPPopg_HerbedPorkandApples.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="herbedPorkAndApples-heading7" style="color:#2E2E2E;font-weight:400;">Ingredients</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <div class="item item-body" id="herbedPorkAndApples-list-item-container13">
      <div id="herbedPorkAndApples-markdown16" class="show-list-numbers-and-dots">
        <ol>
          <li>
            <p style="margin-top:0px;color:#000000;">1 teaspoon dried sage </p>
          </li>
          <li>
            <p style="color:#000000;">1 teaspoon dried thyme </p>
          </li>
          <li>
            <p style="color:#000000;">1 teaspoon dried rosemary</p>
          </li>
          <li>
            <p style="color:#000000;">1 teaspoon dried marjoram</p>
          </li>
          <li>
            <p style="color:#000000;">salt and pepper to taste</p>
          </li>
          <li>
            <p style="color:#000000;">6 pounds pork loin roast</p>
          </li>
          <li>
            <p style="color:#000000;">4 tart apples - peeled, cored, cut into 1 inch chunks</p>
          </li>
          <li>
            <p style="color:#000000;">1 red onion, chopped</p>
          </li>
          <li>
            <p style="color:#000000;">3 tablespoons brown sugar</p>
          </li>
          <li>
            <p style="color:#000000;">1 cup apple juice</p>
          </li>
          <li>
            <p style="color:#000000;">2/3 cup real maple syrup</p>
          </li>
        </ol>
      </div>
    </div>
    <h3 id="herbedPorkAndApples-heading8" style="color:#2E2E2E;font-weight:400;">Directions</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <ion-list id="herbedPorkAndApples-list5">
      <ion-item class="item-icon-right" id="herbedPorkAndApples-list-item17">Prep 1 h 20 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="herbedPorkAndApples-list-item19"> Cook 2 h 30 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="herbedPorkAndApples-list-item22">Ready In 10 h 50 m
        <i class="icon ion-clock"></i>
      </ion-item>
    </ion-list>
    <br>
    <div id="herbedPorkAndApples-markdown17" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">In a small bowl, combine the sage, thyme, rosemary, marjoram, salt and pepper. Rub over roast. Cover, and refrigerate roast for 6 to 8 hours, or overnight.</p>
        </li>
        <li>
          <p style="color:#000000;">Preheat oven to 325 degrees F (165 degrees C).</p>
        </li>
        <li>
          <p style="color:#000000;">Place roast in a shallow roasting pan, and bake in the preheated oven for 1 to 1 1/2 hours. Drain fat.</p>
        </li>
        <li>
          <p style="color:#000000;">In a medium bowl, mix apples and onion with brown sugar. Spoon around roast, and continue to cook for 1 hour more, or until the internal temperature of the roast is 145 degrees F (63 degrees C). Transfer the roast, apples and onion to a serving
            platter, and keep warm.</p>
        </li>
        <li>
          <p style="color:#000000;">To make the gravy, skim excess fat from meat juices. Pour drippings into a medium heavy skillet. Stir in apple juice and syrup. Cook and stir over medium-high heat until liquid has been reduced by half, about 1 cup. Slice the roast, and serve
            with gravy.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>