<ion-view title="Recipes" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/1vE1cvKNTrOMfcSxGyNY_index.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <div id="recipes-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#565656;font-size:18px;">Cooking Guide</p>
    </div>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="beefRecipes" id="recipes-card21">
      <ion-item class="item-avatar" id="recipes-list-item10">
        <h2>Beef</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/prDng9W2RYCWZrQ3VLEH_beef.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="chickenRecipes" id="recipes-card22">
      <ion-item class="item-avatar dark" id="recipes-list-item7">
        <h2dark>Chicken</h2dark>
      </ion-item>
      <div class=" item item-image">
        <img src="img/rDFeAI4SeqIJnA3xXBpQ_chicken.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="porkRecipes" id="recipes-card26">
      <ion-item class="item-avatar" id="recipes-list-item18">
        <h2>Pork</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/hrgmepTSo6bgokvoC0U3_pork.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="recipes-list-item-container10"></div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="seafoodRecipes" id="recipes-card27">
      <ion-item class="item-avatar" id="recipes-list-item20">
        <h2>Seafood</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/dhiUAwZ6QbaWDm2JVr7s_fish.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </a>
  </ion-content>
</ion-view>