<ion-view title="Apple Butter Pork Loin" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/yXgXhTZQNuNnXVchkrc4_AppleButterPorkLoin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="appleButterPorkLoin-heading5" style="color:#2E2E2E;font-weight:400;">Ingredients</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <div class="item item-body" id="appleButterPorkLoin-list-item-container12">
      <div id="appleButterPorkLoin-markdown9" class="show-list-numbers-and-dots">
        <ol>
          <li>
            <p style="margin-top:0px;color:#000000;">2 (2 pound) boneless pork loin roast</p>
          </li>
          <li>
            <p style="color:#000000;">seasoning salt to taste </p>
          </li>
          <li>
            <p style="color:#000000;">2 cups apple juice</p>
          </li>
          <li>
            <p style="color:#000000;">1/2 cup apple butter</p>
          </li>
          <li>
            <p style="color:#000000;">1/4 cup brown sugar</p>
          </li>
          <li>
            <p style="color:#000000;">2 tablespoons water</p>
          </li>
          <li>
            <p style="color:#000000;">1/4 teaspoon ground cinnamon</p>
          </li>
          <li>
            <p style="color:#000000;">1/4 teaspoon ground cloves</p>
          </li>
        </ol>
      </div>
    </div>
    <h3 id="appleButterPorkLoin-heading6" style="color:#2E2E2E;font-weight:400;">Directions</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <ion-list id="appleButterPorkLoin-list6">
      <ion-item class="item-icon-right" id="appleButterPorkLoin-list-item23">Prep 15 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="appleButterPorkLoin-list-item24">Cook 3 h
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="appleButterPorkLoin-list-item25">Ready In 3 h 15 m
        <i class="icon ion-clock"></i>
      </ion-item>
    </ion-list>
    <br>
    <div id="appleButterPorkLoin-markdown11" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">Preheat the oven to 350 degrees F (175 degrees C).</p>
        </li>
        <li>
          <p style="color:#000000;">Season the pork loins with seasoning salt, and place them in a 9x13 inch baking dish or small roasting pan. Pour apple juice over the pork, and cover the dish with a lid or aluminum foil.</p>
        </li>
        <li>
          <p style="color:#000000;">Bake for 1 hour in the preheated oven. While the pork is roasting, mix together the apple butter, brown sugar, water, cinnamon, and cloves. Remove pork roasts from the oven, and spread with apple butter mixture.</p>
        </li>
        <li>
          <p style="color:#000000;">Cover, and return to the oven for 2 hours, or until fork-tender.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>