<ion-view title="Asian Glazed Chicken Thighs" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/uT5NcQdgReOGoEycEgQI_AsianGlazedChickenThighs.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="asianGlazedChickenThighs-heading3" style="color:#2E2E2E;font-weight:400;">Ingredients</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <div class="item item-body" id="asianGlazedChickenThighs-list-item-container8">
      <div id="asianGlazedChickenThighs-markdown20" class="show-list-numbers-and-dots">
        <ol>
          <li>
            <p style="margin-top:0px;color:#000000;">1/2 cup rice vinegar</p>
          </li>
          <li>
            <p style="color:#000000;">5 tablespoons honey</p>
          </li>
          <li>
            <p style="color:#000000;">1/3 cup soy sauce (such as Silver Swan®)</p>
          </li>
          <li>
            <p style="color:#000000;">1/4 cup Asian (toasted) sesame oil</p>
          </li>
          <li>
            <p style="color:#000000;">3 tablespoons Asian chili garlic sauc</p>
          </li>
          <li>
            <p style="color:#000000;">3 tablespoons minced garlic</p>
          </li>
          <li>
            <p style="color:#000000;">salt to taste</p>
          </li>
          <li>
            <p style="color:#000000;">8 skinless, boneless chicken thighs</p>
          </li>
          <li>
            <p style="color:#000000;">1 tablespoon chopped green onion (optional) </p>
          </li>
        </ol>
      </div>
    </div>
    <h3 id="asianGlazedChickenThighs-heading4" style="color:#2E2E2E;font-weight:400;">Directions</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <ion-list id="asianGlazedChickenThighs-list7">
      <ion-item class="item-icon-right" id="asianGlazedChickenThighs-list-item26">Prep 5 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="asianGlazedChickenThighs-list-item27">Cook 30 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="asianGlazedChickenThighs-list-item28">Ready In 1 h 40 m
        <i class="icon ion-clock"></i>
      </ion-item>
    </ion-list>
    <br>
    <div id="asianGlazedChickenThighs-markdown13" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">Whisk the vinegar, honey, soy sauce, toasted sesame oil, chili garlic sauce, garlic, and salt in a bowl until smooth. Pour half the marinade into a large plastic zipper bag; retain the other half of the sauce. Place the chicken thighs into the
            bag containing marinade, squeeze all the air out of the bag, and seal. Shake a few times to coat chicken; refrigerate for 1 hour, turning bag once or twice.</p>
        </li>
        <li>
          <p style="color:#000000;">Preheat oven to 425 degrees F (220 degrees C).</p>
        </li>
        <li>
          <p style="color:#000000;">Pour the other half of the marinade into a saucepan over medium heat, bring to a boil, and cook for 3 to 5 minutes, stirring often, to thicken sauce. Remove the chicken from the bag; discard used marinade. Place chicken thighs into a 9x13-inch
            baking dish, and brush with 1/3 of the thickened marinade from the saucepan.</p>
        </li>
        <li>
          <p style="color:#000000;">Bake 30 minutes, basting one more time after 10 minutes; an instant-read thermometer inserted into a chicken thigh should read 165 degrees F (75 degrees C). Let stand for 5 or 10 minutes; meanwhile, bring remaining marinade back to a boil for
            1 or 2 minutes, and serve chicken with marinade. Sprinkle with green onions.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>