<ion-view title="Beef Recipes" id="page7">
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="beefStewVI" id="beefRecipes-card212">
      <div class=" item item-image">
        <img src="img/Oj1OnR9lS6WcuCwfmCwb_BeefStewVI.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="beefRecipes-list-item-container17">
        <div id="beefRecipes-markdown21" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Beef Stew VI</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="slowCookerBeefPotRoast" id="beefRecipes-card213">
      <div class=" item item-image">
        <img src="img/P20bAhUR8GJbxgILEig8_SlowCookerBeefPotRoast.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="beefRecipes-list-item-container18">
        <div id="beefRecipes-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Slow Cooker Beef Pot Roast</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>