<ion-view title="Chicken Recipes" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="chickenRecipes-card29">
      <div class=" item item-image">
        <a style="display:block;" ui-sref="bakedTeriyakiChicken">
          <img src="img/jtT2WD2kSdOeTbfHhKYF_BakedTeriyakiChicken.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="item item-body" id="chickenRecipes-list-item-container14">
        <div id="chickenRecipes-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Baked Teriyaki Chicken</p>
        </div>
      </div>
    </div>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="appleButterPorkLoin" id="chickenRecipes-card210">
      <div class=" item item-image">
        <img src="img/96ds3zcLSEGFFU5Ra8XA_AsianGlazedChickenThighs.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="chickenRecipes-list-item-container15">
        <div id="chickenRecipes-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Asian Glazed Chicken Thighs</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>